.right_menu_new{
    position: fixed;
    top: 25%;
    right: 10px;
    width: 8%;
    z-index: 100;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 8px;
    
}

.right_menu_fixed{
    padding: 0;
}

.list_sign_login > li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    line-height: 32px;
    padding: 15px;
}

.list_sign_login > li:hover{
    background: #0063d1;
    color: #fff;
    transition: 0.3s;
}

.list_sign_login > li:last-child{
    border-bottom:none;
}

.list_sign_login > li > span{
    width: 90px;
    text-align: center;
    font-size: 18px;
}

.icon-bell
{
    color: white;
    font-size: 22px;
}

.menu_left_new{
    width: 80%;
}

.target_menuright{
    position: fixed;
    right: 9%;
    top: 25%;
    z-index: 100;
    background: #f8f8f8;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.9s;
}

.target_menuright:hover{
    background: #0063d1;
    color: #fff;
    transition: 0.3s;
}

.target_menuright_active {
    right: 0;
    transition: 0.9s;
}

.line_package{
    border: 2px solid #999; 
    width: 18%;
    margin-top:0;
}

.line_package_m
{
    margin: 15px 0px 60px 0;
}


.hover-fx {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 84%;
    height: 90%;
    border-radius: 4%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #007bff94;
    top: 14px;
    left: 36px;
    opacity: 0;
    transition: 300ms;
  }
  
  /* .hover-fx:hover {
    background-color: #fff;
    color: #00989A;
  } */
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }


.red
{
    color: red;
}

.listProfile{
    display: flex;
}

.image_profile{
    background-color:#1953b4;
    color:#fff; 
    border:1px solid #ebebeb; 
    border-radius: 8px;
    width: 20%;
    margin-right: 30px;
}

.image_PF{
    padding: 15px;
}

.image_PF > img{
    border: 3px solid #fff;
    border-radius: 25%; 
}

.menu_in_image{
    padding: 15px;
    text-align: center;
}

.menu_profileList{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 15% 15%;
    margin-left: 30px;
}

.menu_profileList > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #ebebeb;
}

.result_list_menu{
    background-color:#1953b4;
    color:#fff;
}

.result_menu{
    background-color:#f7ff7e;
    color:red;
    font-size:16px;
}

/* Mobile */
@media only screen and (min-width: 300px) and (max-width: 568px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }
    
    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }
    
    .list_sign_login > li > span{
        font-size: 12px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }


    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 24%;
        right: 5%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-columns: auto auto;
    }

    .result_menu_1{
        grid-area: 1 / 2;
    }

    .result_menu_2{
        grid-area: 2 / 2;
    }

    .result_menu_3{
        grid-area: 3 / 2;
    }

    .result_menu_4{
        grid-area: 4 / 2;
    }

    .result_menu_5{
        grid-area: 5 / 2;
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 767px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }

    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }

    .list_sign_login > li > span{
        font-size: 15px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }

    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 20%;
        right: 4%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-columns: auto auto;
    }

    .result_menu_1{
        grid-area: 1 / 2;
    }

    .result_menu_2{
        grid-area: 2 / 2;
    }

    .result_menu_3{
        grid-area: 3 / 2;
    }

    .result_menu_4{
        grid-area: 4 / 2;
    }

    .result_menu_5{
        grid-area: 5 / 2;
    }
}

/* Ipad */

@media only screen and (min-width:  768px) and (max-width:  1100px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }

    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }

    .list_sign_login > li > span{
        font-size: 15px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }

    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 20%;
        right: 4%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-columns: auto auto;
        grid-template-rows: unset!important;
    }

    .result_menu_1{
        grid-area: 1 / 2;
    }

    .result_menu_2{
        grid-area: 2 / 2;
    }

    .result_menu_3{
        grid-area: 3 / 2;
    }

    .result_menu_4{
        grid-area: 4 / 2;
    }

    .result_menu_5{
        grid-area: 5 / 2;
    }

}

@media only screen and (max-width: 1370px) and (min-width:1024px){
    .right_menu_new{
        width: 15%;
    }

    .menu_left_new{
        width: 100%;
    }

    .target_menuright{
        right:17%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 50%;
        margin-right: 0;
        margin: auto auto 15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-rows: 50% 50%;
    }
    

}