.menu-list
{
    font-size: 19px;
    font-weight: 500;
}
.margin-20
{
    margin: 20px 0px;
    font-size: 18px;
}
.font-size-upload
{
    font-size: 18px !important;
}

.input-upload
{
    border-radius: 0%;
    box-shadow: 1px 3px 13px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}
.plus-upload
{
    align-items: center;
    display: flex;
    font-size: 50px;
    color: #00c00f;
}
.my-income
{
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: 500;
    border-bottom: 1px solid #d8d8d8;
}
.money
{
    font-size: 30px;
    color: #428a00;
}
.right_menu_new{
    position: fixed;
    top: 25%;
    right: 10px;
    width: 8%;
    z-index: 100;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 8px;
    
}

.right_menu_fixed{
    padding: 0;
}

.list_sign_login > li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    line-height: 32px;
    padding: 15px;
}

.list_sign_login > li:hover{
    background: #0063d1;
    color: #fff;
    transition: 0.3s;
}

.list_sign_login > li:last-child{
    border-bottom:none;
}

.list_sign_login > li > span{
    width: 90px;
    text-align: center;
    font-size: 18px;
}

.icon-bell
{
    color: white;
    font-size: 22px;
}

.menu_left_new{
    width: 80%;
}

.target_menuright{
    position: fixed;
    right: 9%;
    top: 25%;
    z-index: 100;
    background: #f8f8f8;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.9s;
}

.target_menuright:hover{
    background: #0063d1;
    color: #fff;
    transition: 0.3s;
}

.target_menuright_active {
    right: 0;
    transition: 0.9s;
}

.line_package{
    border: 1px solid #999; 
    width: 18%;
    margin-top:0;
}

.line_package_m
{
    margin: 15px 0px 60px 0;
}


.hover-fx {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 84%;
    height: 90%;
    border-radius: 4%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #007bff94;
    top: 14px;
    left: 36px;
    opacity: 0;
    transition: 300ms;
  }
  
  /* .hover-fx:hover {
    background-color: #fff;
    color: #00989A;
  } */
  
  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }


.red
{
    color: red;
}

.listProfile{
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.image_profile{
    border-radius: 8px;
}

.image_PF{
    padding-top: 30px;
    text-align: center;
    
}

.imageProfile_show {
    display: inline-block;
    position: relative;
    width: 261px;
    height: 180px;
    border-radius: 4%;
    overflow: hidden;
}


.edit_name_user{
    position: relative;
    bottom: 24px;
    color: #fff;
    background-color:rgb(0, 0, 0, 0.5);
}

.edit_name_user > a{
    display: block;
}

.menu_in_image{
    padding: 0px;
    text-align: center;
}

.menu_profileRow{
    display: flex;
    justify-content: center;
}



.result_menu{
    font-size: 22px;
    padding-bottom: 6px;
    font-weight: 500;
    color: #0063d1;
}

.list_menu{
    font-size: 15px;
}

.result_list_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    margin: 10px;
    /* box-shadow: 2px 2px 6px 1px #1693a740; */
}

.inputKuy > .nice-select{
    width: 100%;
}
.inputKuy > .nice-select:after{
    margin-left: 70px;
    position: relative;

}



/* Mobile */
@media only screen and (min-width: 300px) and (max-width: 568px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }
    
    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }
    
    .list_sign_login > li > span{
        font-size: 12px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }


    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 24%;
        right: 5%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-columns: auto auto;
    }

    .menu_profileRow{
        display: block;
    }

    
}

@media only screen and (min-width: 375px) and (max-width: 767px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }

    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }

    .list_sign_login > li > span{
        font-size: 15px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }

    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 20%;
        right: 4%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-columns: auto auto;
    }

    .menu_profileRow{
        display: block;
    }

}

/* Ipad */

@media only screen and (min-width:  768px) and (max-width:  1100px){
    .right_menu_new{
        width: 100%;   
        bottom: 0;
        top:unset;
        right: 0;
        text-align: center;
    }

    .list_sign_login > li {
        display: inline-block;
        text-align: center;
    }

    .list_sign_login > li > span{
        font-size: 15px;
    }

    .menu_left_new{
        width: 100%;
    }

    .categories_menu_toggle > ul > li {
        margin-left: 15px;
    }

    .target_menuright{
        font-size: 10px;
        top: unset;
        bottom: 20%;
        right: 4%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 100%;
        margin-right: 0;
        margin-bottom:15px;
    }

    .menu_profileList{
        margin-left: 0;
    }

    .menu_profileRow{
        display: grid;
        grid-template-columns: auto auto auto;
    }

}
/* 
@media only screen and (max-width: 1370px) and (min-width:1024px){
    .right_menu_new{
        width: 15%;
    }

    .menu_left_new{
        width: 100%;
    }

    .target_menuright{
        right:17%;
    }

    .listProfile{
        display: block;
    }

    .image_profile{
        width: 50%;
        margin-right: 0;
        margin: auto auto 15px;
    }

    .menu_profileList{
        margin-left: 0;
        grid-template-rows: 50% 50%;
    }
    

} */