.right_menu_new{
    position: fixed;
    top: 10%;
    right: 2%;
    width: 20%;
    z-index: 100;
}

.sign_login,.sign_login_change{
    background: #0063d1;
    color: #fff;
    border-radius: 0.4285rem;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    transition:0.3s;
}

.sign_login:hover,.sign_login_change:hover{
    background:#333;
}

.button_sign{
    background: #0063d1;
    color: #fff;
    margin-top: 15px;
    transition:0.3s;
}

.button_sign:hover{
    background:#333;
}

.list_sign_login > li {
    text-align: center;
}

.list_sign_login > li:last-child{
    border-bottom:none;
}